.board-section {
  height: 100vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-container {
  background-color: #4b4b4b;
  width: 20vw;
  height: 40vh;
  text-align: center;
  padding: 10px;
  margin: 10px;
  outline: 3px dashed #e9e9e9;
  border-radius: 7px;
}
